<h2>List of beers</h2>
{{#each beersFromTheAPI}}
    <div>
        <h3>{{name}}</h3>    
        <p>{{description}}</p>
        <img class="card-img-top" src={{image_url}}/>  
        <sub>{{tagline}}</sub>
    </div>
{{/each}}